{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main-content">
    <div id="wrapper-site">
        <div id="content-wrapper" class="full-width">
            <div id="main">
                <div class="page-home">
                    <!-- breadcrumb -->
                    <nav class="breadcrumb-bg">
                        <div class="container no-index">
                            <div class="breadcrumb">
                                <ol>
                                    <li>
                                        <a href="{% url 'pages:home' %}">
                                            <span>Home</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <span>Living Room</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Sofa</span>
                                        </a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </nav>

                    <div class="container">
                        <div class="content">
                            <div class="row">
                                <div class="sidebar-3 sidebar-collection col-lg-3 col-md-4 col-sm-4">
                                    <!-- category menu -->
                                    <div class="sidebar-block">
                                        <div class="title-block">Categories</div>
                                        <div class="block-content">
                                            {% for cat in categories %}
                                            <div class="cateTitle hasSubCategory open level1">
                                                <a href="{% if 'products/detail' in request.path %}{% url 'products:list' %}?cat={{ cat.pk }}{% else %}javascript:void(0);{% endif %}"
                                                   {% if not 'products/detail' in request.path %}class="cateItem" onclick="addUrlParameter('cat', '{{ cat.pk }}')" style="cursor: pointer;"{% endif %}>
                                                    {{ cat.name }}
                                                </a>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <!-- product tag -->
                                    <div class="sidebar-block product-tags">
                                        <div class="title-block">Product Tags</div>
                                        <div class="block-content">
                                            <ul class="listSidebarBlog list-unstyled">
                                                {% for tag in tags %}
                                                <li>
                                                    <a href="{% if 'products/detail' in request.path %}{% url 'products:list' %}?tag={{ tag.pk }}{% else %}javascript:void(0);{% endif %}"
                                                       {% if not 'products/detail' in request.path %}onclick="addUrlParameter('tag', '{{ tag.pk }}')" style="cursor: pointer;"{% endif %}
                                                       title="Show products matching tag {{ tag.name }}">{{ tag.name }}</a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8 col-lg-9 col-md-8 product-container">
                                    <h1>Living Room</h1>
                                    <div class="js-product-list-top first nav-top">
                                        <div class="d-flex justify-content-around row">
                                            <div class="col col-xs-12">
                                                <ul class="nav nav-tabs">
                                                    <li>
                                                        <a href="#grid" data-toggle="tab" class="fa fa-th-large {% if not request.GET.list_view %}active show{% endif %}"></a>
                                                    </li>
                                                    <li>
                                                        <a href="#list" data-toggle="tab" class="fa fa-list-ul {% if request.GET.list_view %}active show{% endif %}"></a>
                                                    </li>
                                                </ul>
                                                <div class="hidden-sm-down total-products">
                                                    <p>There are {{ products|length }} products.</p>
                                                </div>
                                            </div>
                                            <div class="col col-xs-12">
                                                <div class="d-flex sort-by-row justify-content-lg-end justify-content-md-end">
                                                    <!-- Sorting functionality can be added here -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-content product-items">
                                        <div id="grid" class="related tab-pane fade {% if not request.GET.list_view %}in active show{% endif %}">
                                            <div class="row">
                                                {% for product in products %}
                                                    <div class="item text-center col-md-4">
                                                        <div class="product-miniature js-product-miniature item-one first-item">
                                                            <div class="thumbnail-container border">
                                                                <a href="{% url 'products:detail' pk=product.pk %}">
                                                                    <img class="img-fluid image-cover" src="{{ product.image.url }}" alt="{{ product.name }}">
                                                                    <img class="img-fluid image-secondary" src="{{ product.image.url }}" alt="{{ product.name }}">
                                                                </a>
                                                            <div class="product-description">
                                                                <div class="product-groups">
                                                                    <div class="product-title">
                                                                        <a href="{% url 'products:detail' pk=product.pk %}">{{ product.name }}</a>
                                                                    </div>
                                                                    <div class="product-group-price">
                                                                        <div class="product-price-and-shipping">
                                                                            <span class="price">£{{ product.price }}</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="description">
                                                                    {{ product.description }}
                                                                    </div>
                                                                </div>
                                                                <div class="product-buttons d-flex justify-content-center">
                                                                    <form action="#" method="post" class="formAddToCart">
                                                                        <input type="hidden" name="id_product" value="1">
                                                                        <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                                        </a>
                                                                    </form>
                                                                    <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                                                    </a>
                                                                    <a href="#" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div id="list" class="related tab-pane fade {% if request.GET.list_view %}in active show{% endif %}">
                                            <div class="row">
                                                {% for product in products %}
                                                <div class="item col-md-12">
                                                        <div class="product-miniature item-one first-item">
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <div class="thumbnail-container border">
                                                                        <a href="{% url 'products:detail' pk=product.pk %}">
                                                                            <img class="img-fluid image-cover" src="{{ product.image.url }}" alt="{{ product.name }}">
                                                                            <img class="img-fluid image-secondary" src="{{ product.image.url }}" alt="{{ product.name }}">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <div class="product-description">
                                                                        <div class="product-groups">
                                                                            <div class="product-title">
                                                                                <a href="{% url 'products:detail' pk=product.pk %}">{{ product.name }}</a>
                                                                                <span class="info-stock">
                                                                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                                                                    In Stock
                                                                                </span>
                                                                            </div>
                                                                            <div class="product-group-price">
                                                                                <div class="product-price-and-shipping">
                                                                                    <span class="price">£{{ product.price }}</span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="description">
                                                                                {{ product.description }}
                                                                            </div>
                                                                        </div>
                                                                        <div class="product-buttons d-flex">
                                                                            <form action="#" method="post" class="formAddToCart">
                                                                                <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to cart
                                                                                </a>
                                                                            </form>
                                                                            <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                                                <i class="fa fa-heart" aria-hidden="true"></i>
                                                                            </a>
                                                                            <a href="#" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                        </div>
                                                {% endfor %}
                                    </div>

                                    <!-- pagination -->
                                    <div class="container">
                                        <div class="row js-product-list-top">
                                            <div class="col-md-6">
                                                <p class="showing">Showing {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ page_obj.paginator.count }} item(s)</p>
                                            </div>
                                            <div class="col-md-6">
                                                <nav aria-label="Page navigation">
                                                    <ul class="pagination justify-content-center">
                                                        <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                                                            <a class="page-link" href="?{% if page_obj.has_previous %}page={{ page_obj.previous_page_number }}{% endif %}" aria-label="Previous">
                                                                <span aria-hidden="true">&laquo;</span>
                                                            </a>
                                                        </li>
                                                        {% for page in page_obj.paginator.page_range %}
                                                            <li class="page-item {% if page == page_obj.number %}active{% endif %}">
                                                                <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                                                            </li>
                                                        {% endfor %}
                                                        <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                                                            <a class="page-link" href="?{% if page_obj.has_next %}page={{ page_obj.next_page_number }}{% endif %}" aria-label="Next">
                                                                <span aria-hidden="true">&raquo;</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>

                                <!-- end col-md-9-1 -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    function addUrlParameter(name, value) {
        let searchParams = new URLSearchParams(window.location.search);
        if (searchParams.has(name) && searchParams.get(name) === value) {
            searchParams.delete(name);
        } else {
            searchParams.set(name, value);
        }
        window.location.search = searchParams.toString();
    }
</script>
{% endblock %}
