{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="main-content">
        <div class="wrap-banner">

            <!-- breadcrumb -->
            <nav class="breadcrumb-bg">
                <div class="container no-index">
                    <div class="breadcrumb">
                        <ol>
                            <li>
                                <a href="{% url 'pages:home' %}">
                                    <span>Home</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'users:account' %}">
                                    <span>Accounts</span>
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
            </nav>
        </div>

        <!-- main -->
        <div id="wrapper-site">
            <div class="container">
                <div class="row">
                    <div id="content-wrapper" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 onecol">
                        <div id="main">
                            <div id="content" class="page-content">
                                <div class="register-form text-center">
                                    <h1 class="text-center title-page">Update Account</h1>
                                    {% if messages %}
                                        {% for error in messages %}
                                        <h6>{{ error }}</h6>
                                        {% endfor %}
                                    {% endif %}
                                    <form action="{% url 'users:account' %}" id="customer-form" class="js-customer-form" method="post">
                                        {% csrf_token %}
                                        <div>
                                            <div class="form-group">
                                                <div>
                                                    <input value="{{ account.full_name }}" class="form-control" name="full_name" type="text" placeholder="Full name">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div>
                                                    <input class="form-control" name="country" type="text" placeholder="Country">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div>
                                                    <input class="form-control" name="city" type="text" placeholder="City">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div>
                                                    <input class="form-control" name="address" type="email" placeholder="Address">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div>
                                                    <input class="form-control" name="postcode" type="email" placeholder="Postcode">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div>
                                                    <input class="form-control" name="phone" type="email" placeholder="Phone">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div>
                                                    <input class="form-control" name="company" type="email" placeholder="Company">
                                                </div>
                                            </div>
                                                <button class="btn btn-primary" data-link-action="sign-in" type="submit">
                                                    Update Account
                                                </button>
                                            </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}